table {
    border-collapse: collapse;
    margin: 20px;
}
td {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: 1px solid black;
    position: relative;
}
.green {
    background-color: lightgreen;
}
.blue {
    background-color: lightblue;
}
.red {
    background-color: lightcoral;
}
.gray {
    background-color: lightgray;
}
.piece {
    font-weight: bold;
}
img {
    width: 30px; /* Smaller width */
    height: 30px; /* Smaller height */
    position: absolute;
    top: 15px;  /* Adjust position to center the image */
    left: 15px; /* Adjust position to center the image */
}
/* CSS styles for each terrain */
.normal-terrain {
    background-image: url('resources/images/terrain5.png');
    background-size: cover;
}

.water-terrain {
    background-image: url('resources/images/terrain2.png');
    background-size: cover;
}

.red-terrain {
    background-image: url('resources/images/terrain3.png');
    background-size: cover;
}

.board-cell {
    width: 60px;  /* Adjust based on your game board size */
    height: 60px;
    border: 1px solid #000;  /* Board grid */
    text-align: center;
    vertical-align: middle;
    position: relative;
}


.unit-image {
    width: 40px; /* Smaller width */
    height: 40px; /* Smaller height */
    position: absolute;
    top: 10px;  /* Adjust position to center the image */
    left: 10px; /* Adjust position to center the image */
}